h1 {
  color:beige;
  text-align: center;}
  h2 {color: beige;
  font-style: italic;
  text-align:center;}
p {
   font-family: fantasy;}
   ul {
    line-height: 40px; }
body {
font-family: Courier;
color: beige;
font-size:30px;
background-color:#000000;
background-image: url(https://wallpapercave.com/wp/brDZ58v.jpg); }
